.container-lg {
    min-height: 700px;
    margin-top: 2rem;
}

.card {
    margin-top: 1rem;
    min-height: 600px;
    font-family: "Fugaz One", italic;
    text-transform: uppercase;
}
//add media for min-height on tablet/mobile

.card-img {
    width: 100%;
    overflow: hidden;
}

.landing-link {
    text-decoration: none;
    color: black; 
    text-shadow: white 2px 1px;

    &:hover {
        color: rgb(255, 166, 181);
    }
}

//add media for font-size on desktop/tablet/mobile 